# Database (Aiven MySQL)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL_CA=

# Server
PORT=10000
NODE_ENV=production

# App URLs
BASE_URL=
SITE_URL=
SITE_NAME=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=

# JWT & Session
JWT_SECRET=
SESSION_SECRET=